RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# BEGIN ANSIBLE MANAGED BLOCK
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} referenciaint.com.bureaubrasileiro.com.br$
RewriteRule ^(.*)$ "https://bureaubrasileiro.com.br/404" [R=301,L]
</IfModule>
# END ANSIBLE MANAGED BLOCK
AddHandler application/x-httpd-alt-php73___lsphp .php
DirectoryIndex index.html INDEX.HTML Index.html index.shtml index.cgi index.pl index.php index.xhtml index.htm
## BEGIN Compability settings for mt
<IfModule mod_env.c>
  SetEnv DATABASE_SERVER localhost
  RewriteEngine on
  RewriteRule ^ - [E=SITE_ROOT:%{DOCUMENT_ROOT}]
  RewriteRule ^ - [E=SITE_CGIROOT:%{DOCUMENT_ROOT}/cgi-bin]
  RewriteRule ^ - [E=SITE_HTMLROOT:%{DOCUMENT_ROOT}]
</IfModule>
## END Compability settings for mt
